<div class="container mx-auto p-4">
  <div>
    <h3 class="my-2 text-lg font-medium text-slate-600">Buttons</h3>
  </div>


  <mat-divider></mat-divider>
  <div class="grid grid-cols-1 lg:grid-cols-2  gap-4">
    <mat-card class="element-card">
      <h1 class="font-medium my-2">Basic Buttons</h1>
      <div class="flex justify-evenly flex-wrap gap-2 ">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button href=""> Link</a>


      </div>
    </mat-card>
    <mat-card class="element-card">
      <h1 class="font-medium my-2">Raised Buttons</h1>
      <div class="flex justify-evenly flex-wrap gap-2">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href=""> Link</a>


      </div>
    </mat-card>
    <mat-card class="element-card">
      <h1 class="font-medium my-2">Stroked Buttons</h1>
      <div class="flex justify-evenly flex-wrap gap-2">
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="warn">Warn</button>
        <button mat-stroked-button disabled>Disabled</button>
        <a mat-stroked-button href=""> Link</a>


      </div>
    </mat-card>
    <mat-card class="element-card">
      <h1 class="font-medium my-2">Flat Buttons</h1>
      <div class="flex justify-evenly flex-wrap gap-2">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button href=""> Link</a>


      </div>
    </mat-card>


    <mat-card class="element-card">
      <h1 class="font-medium my-2">Icon Buttons</h1>
      <div class="flex justify-evenly flex-wrap gap-2">
        <button mat-icon-button>
          <mat-icon>more-vert</mat-icon>
        </button>
        <button mat-icon-button color="primary">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button color="accent">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button disabled="">
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button mat-icon-button>

          <mat-spinner color="primary" diameter="20"></mat-spinner>

        </button>
        <button mat-icon-button>

          <mat-spinner color="accent" diameter="20"></mat-spinner>

        </button>
      </div>
    </mat-card>


    <mat-card class="element-card">
      <h1 class="font-medium my-2">FAB Buttons</h1>
      <div class="flex justify-evenly flex-wrap gap-2">
        <button mat-fab>
          <mat-icon>more-vert</mat-icon>
        </button>
        <button mat-fab color="primary">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-fab color="accent">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-fab color="warn">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-fab disabled="">
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button mat-fab color="primary">
          <mat-spinner color="accent" diameter="20"></mat-spinner>
        </button>

      </div>
    </mat-card>

    <mat-card class="element-card">
      <h1 class="font-medium my-2">Mini FAB Buttons</h1>
      <div class="flex justify-evenly flex-wrap gap-2">
        <button mat-mini-fab>
          <mat-icon>more-vert</mat-icon>
        </button>
        <button mat-mini-fab color="primary">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-mini-fab color="accent">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-mini-fab color="warn">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-mini-fab disabled="">
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button mat-mini-fab color="primary">
          <mat-spinner color="accent" diameter="20"></mat-spinner>
        </button>

      </div>
    </mat-card>


    <mat-card class="element-card">
      <h1 class="font-medium my-2">Loading Buttons</h1>
      <div class="flex justify-evenly flex-wrap gap-2">
        <button mat-button>
          Basic
          <mat-icon>
            <mat-spinner color="accent" diameter="15">
            </mat-spinner>
          </mat-icon>
        </button>
        <button mat-raised-button color="primary">
          Primary
          <mat-icon>
            <mat-spinner color="accent" diameter="15">
            </mat-spinner>
          </mat-icon>
        </button>
    
        <button mat-raised-button color="warn">
          Primary
          <mat-icon>
            <mat-spinner color="accent" diameter="15">
            </mat-spinner>
          </mat-icon>
        </button>
        <button mat-raised-button disabled>
          Primary
          <mat-icon>
            <mat-spinner color="accent" diameter="15">
            </mat-spinner>
          </mat-icon>
        </button>
      </div>
    </mat-card>





  </div>



</div>