.mat-divider {
  margin: 16px 0px;
}

.element-card {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 244, 244);
  padding: 20% 0%;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &:hover {
    background-color: rgb(238, 238, 238); 
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
